# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj
Git.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Folders storing met data 
GDAY/met_data/*.csv

# Folder storing output data
GDAY/outputs/Run1/*.csv
GDAY/outputs/Run2/*.csv
GDAY/outputs/Run3/*.csv
GDAY/outputs/Run4/*.csv
GDAY/outputs/Run5/*.csv
GDAY/outputs/Run6/*.csv
GDAY/outputs/Run7/*.csv
GDAY/outputs/Run8_1/*.csv
GDAY/outputs/Run8_2/*.csv
GDAY/outputs/Run9/*.csv
GDAY/outputs/Run10/*.csv

# Folder storing analyzed data
GDAY/analyses/Run1/*.csv
GDAY/analyses/Run2/*.csv
GDAY/analyses/Run3/*.csv
GDAY/analyses/Run4/*.csv
GDAY/analyses/Run5/*.csv
GDAY/analyses/Run6/*.csv
GDAY/analyses/Run7/*.csv
GDAY/analyses/Run8_1/*.csv
GDAY/analyses/Run8_2/*.csv
GDAY/analyses/Run9/*.csv
GDAY/analyses/Run10/*.csv

GDAY/analyses/Run1/*.pdf
GDAY/analyses/Run2/*.pdf
GDAY/analyses/Run3/*.pdf
GDAY/analyses/Run4/*.pdf
GDAY/analyses/Run5/*.pdf
GDAY/analyses/Run6/*.pdf
GDAY/analyses/Run7/*.pdf
GDAY/analyses/Run8_1/*.pdf
GDAY/analyses/Run8_2/*.pdf
GDAY/analyses/Run9/*.pdf
GDAY/analyses/Run10/*.pdf


# Folders storing params
GDAY/params/Run1/*.cfg
GDAY/params/Run2/*.cfg
GDAY/params/Run3/*.cfg
GDAY/params/Run4/*.cfg
GDAY/params/Run5/*.cfg
GDAY/params/Run6/*.cfg
GDAY/params/Run7/*.cfg
GDAY/params/Run8_1/*.cfg
GDAY/params/Run8_2/*.cfg
GDAY/params/Run9/*.cfg
GDAY/params/Run10/*.cfg

# Folders storing figures and tables
Plots/*.tiff
Tables/*.csv

# ignoring temporary outputfile in run simulation
#GDAY/simulations/*.txt

# ignore all the .o files
GDAY/code/src/*.o

# ignore all the DS_store files
.DS_Store

# ignore test files
GDAY/simulations/Run1/*.txt
GDAY/simulations/Run9/*.txt

#ignore all png files
*.png
*.gif